.header{
    padding: 96px 160px 77px;
}

.header__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: #212429;
    margin: 0;
}

@media (max-width: 700px){
    .header{
        padding: 0 16px;
    }
    
    .header__title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #495057;
        margin: 0;
    }
}