.header{
    padding: 96px 160px 77px;
}

.header__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: #212429;
    margin: 0;
}