@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
    font-family: Inter;
}

.acc-container{
    margin: 50px 200px;
}

.accordion{
    box-sizing: border-box;
    width: 579px;
    height: 72px;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    padding: 23px 32px 32px;
    

}

.accordion[open]{
    width: 579px;
    height: fit-content;
    padding: 23px 32px 32px;
}

.accordion__summary{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    list-style: none;
    cursor: pointer;
}

.accordion__content{
    color: #495057;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
