.checkbox{
    display: inline-block;
    position: relative;
}

.checkbox__input{
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.checkbox__state{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.checkbox__control{
    width: 28px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #DDE2E5;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox__icon{
    display: none;
}

.checkbox__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control{
    background: var(--blue);
    border-color: var(--blue);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon{
    display: block;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control{
    background: var(--grey-2);
    border-color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title{
    color: var(--grey-2);
}