.footer{
    text-align: center;
    padding-top: 72px;
    padding-bottom: 136px;
    box-sizing: border-box;
}

@media (max-width: 700px){
    .footer{
        display: none;
    }
}

.footer__about-title{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    margin: 0;
    margin-bottom: 32px;

}

.footer__about-text{
    max-width: 640px;
    margin: 0 auto;

    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
   
}
