.radio{
    position: relative;
}

.radio__input{
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.radio__box{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.radio__control{
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio__inner{
    display: none;
}

.radio__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:var(--grey-4);
}

.radio__input:checked ~ .radio__box .radio__control{
    border: 2px solid var(--blue);
}

.radio__input:checked ~ .radio__box .radio__control .radio__inner{
    display: block;
    width: 18px;
    height: 18px;
    background: var(--blue);
    border-radius: 14px;
}

.radio__input:disabled ~ .radio__box {
    cursor: default;
}

.radio__input:disabled ~ .radio__box .radio__control{
    background: var(--grey-2);
}

.radio__input:disabled ~ .radio__box .radio__title{
    color: var(--grey-2);
}