<!DOCTYPE html>
<!-- Страница с радио -->
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./radio.css">
    </head>
    <body>

        <label class="radio">
            <input type="radio" class="radio__input" name="sampleRadio">
            <div class="radio__box">
                <div class="radio__control">
                    <div class="radio__inner"></div>
                </div>
                <div class="radio__title">Pick me!</div>
            </div>
        </label>
           

        <label class="radio">
            <input type="radio" class="radio__input" name="sampleRadio">
            <div class="radio__box">
                <div class="radio__control">
                    <div class="radio__inner"></div>
                </div>
                <div class="radio__title">No, pick me!</div>
            </div>
        </label>

    </body>
</html>
