.preview{
    /* height: 1036px; */
    background-color: var(--grey-1);
    border-top: 2px solid var(--grey-2);
    border-bottom: 2px solid var(--grey-2);
   
}

.preview__cards{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    padding-top: 68px;
    padding-bottom: 48px;
    align-content: space-between;
}

.preview__card{
    width: 350px;
    height: 367px;
    background-color: var(--white);
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 50px;
    font-size: 30px;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.preview__card:hover{
    transform: rotate(90deg);
}
