.preview{
    background-color: var(--grey-1);
    border-top: 2px solid var(--grey-2);
    border-bottom: 2px solid var(--grey-2);
    flex-grow: 1;
}


.preview__card{
    width: 350px;
    height: 367px;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 50px;
    font-size: 30px;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.preview__cards{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    gap: 30px;
    padding-top: 68px;
    padding-bottom: 68px;
}

.preview__card:hover{
    transform: rotate(90deg);
}

@media (max-width: 700px){

    .preview__card{
        width: 164px;
        height: 231px;
        font-size: 15px;
    }
    .preview__cards{
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
        gap: 16px;
        padding-top: 68px;
        padding-bottom: 68px;
    }
    }
